<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" parallel="tests">
    <test verbose="2" preserve-order="true" name="/Users/mnaveid/Desktop/automation/pagefactory">

        <groups>
            <run>
                <!--<include name="login"></include>-->
            </run>
        </groups>
        <classes>
            <class name="test" />
            <class name="inventoryPage"/>
            <class name="checkout" />
        </classes>
    </test>
</suite>